* {
  z-index: z('default');
}

html {
  min-height:100%;
}
body {
  min-height:100%;
  overflow-x: hidden;
  background:$navy-blue;
  padding-bottom:6rem; // to allow for bottom nav on mobile and tablet
}