* {
  z-index: z('default');
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background: $navy-blue;
  padding-bottom: 8rem; // to allow for bottom nav on mobile and tablet

  @include grid-media($grid-desktop) {
    padding-bottom: 0;
  }
}