body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: $font-bold;
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing;
  color:white;

  strong {
    font-weight:$font-black;
  }
}

h1 {
  font-size:$base-font-size * 3;
  margin:$base-spacing * 2 0;
}

h2 {
  font-size:$base-font-size * 2;
  margin:$base-spacing * 3 0 $base-spacing * 1.5;
  letter-spacing: -0.1rem;
}

h3 {
  font-size:$base-font-size * 1.5;
  margin:$base-spacing * 2 0;
}

h4 {
  font-size:$base-font-size * 1.2;
  margin:$base-spacing 0;

}

h5 {
  margin:$base-spacing 0;
}

h6 {
  font-size:$base-font-size * 0.8;
  margin:$base-spacing 0;
}

p {
  margin-top:0;
  margin-bottom:$base-spacing;
}

a:link,
a:visited {
  color: $link-color;
  text-decoration: none;
  transition: all $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
  }
}

ul, ol {
  margin-left:0px;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

// Text Helpers
.text--upper {
  text-transform: uppercase;
  letter-spacing: 0rem;
}