.footer__powered-by {
  padding: 0 0 2rem;

  @include grid-media($grid-tablet) {
    padding: 0 0 2rem;
  }

  @include grid-media($grid-desktop) {
    position: fixed;
    left:2rem;
    bottom:2rem;
    padding:0;
  }
}