.site__body {
  color: $frost-blue;
  padding: 0 1rem 1rem;

  @include grid-media($grid-tablet-plus) {
    padding: 0 2rem 1rem;
  }

  @include grid-media($grid-desktop) {
    padding-left: $nav-bar-width + 2rem;
  }

  &.site__body--full-width {
    padding-left:1rem;
  }
}

// Display content off the page when not active
// This avoids zero heights and widths on canvas elements that have display:none
.content--fixed-age-value-quarters,
.content--fixed-age-value-years {
  position: fixed;
  top: -99999rem;

  &.is-active {
    position: unset;
    top: 0;
  }
}