.ajax-loader {
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($navy-blue, 0.8);
  justify-content: center;
  align-items: center;
  z-index: z('above-all');

  img {
    width: 10rem;
  }

  &.is-active {
    display: flex;
  }
}

// use this in addition to .ajax-loader for sections of the page, rather than the whole page
.ajax-loader--section {
  position: absolute;
}

// When JS is disabled
.no-js {
  .ajax-loader--page.is-active {
    display:none;
  }
  .ajax-loader--section.is-active {
    display:none;
  }
}