.btn {
  display: inline-block;
  @include font-size(12, 12);
  padding:1rem;
  border-radius: 999rem;
}

.btn--reset-zoom {
  display:none;
  position: absolute;
  top:1rem;
  right:1rem;
  background: url(img/icon-reset-light-blue.svg) left 1rem center no-repeat, white;
  background-size:1.8rem, auto;
  padding-left:3.4rem;
  z-index: z('high');

  &.is-active {
    display:inline-block;
  }
}

.btn--plot-on-graph {
  display: block;
  position: absolute;
  top:0;
  right:0;
  background: url(img/icon-crosshair-on-graph-white.svg) center no-repeat;
  background-size:1.8rem;
  text-indent: -9999rem;
  width:1.8rem;
  height:1.8rem;
}