.data-view {
}

.data-view__header--sticky {
  position: relative;
  z-index: z('higher') !important;
}

.data-view__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:5.5rem;
  background: $navy-blue;
}

.data-view__title {
  @include font-size(16, 18);
  margin: 0;
  flex-grow: 1;

  @include grid-media($grid-tablet-plus) {
    @include font-size(20, 22);
  }
}

.data-view__title--icon-ship {
  @include grid-media($grid-tablet-plus) {
    background: url(img/icon-cargo-ship-filled-white.svg) left center no-repeat;
    background-size: auto 1.8rem;
    padding-left: 3.6rem;
  }
}

.data-view__title__divider {
  color: $red;
  vertical-align: text-top;
  padding: 0 0.2rem;
}

@include grid-media($grid-desktop) {
  .data-view__main-col {
    float:left;
    width:calc(75% - 2rem);
  }

  .data-view__side-col {
    float:right;
    width:25%;
  }
}
