.data-table-container {
  margin-top: 1rem;
}

table.data-table {
  position: relative;
  @include font-size(13, 13);
  width: 100%;
  margin: 0 0 0.5rem;
  border-collapse: collapse;

  &.data-table--standard-font-size {
    font-size: inherit;
    line-height: inherit;
  }

  tr {
    th, td {
      width: (100/8) * 1%;
      padding: 0.3rem;
      text-align: left;
      border-right: 0.1rem dotted tint($navy-blue, 20%);
      line-height: 1.1;

      .is-trend-data {
        color: $grey;
        font-style: italic;
      }

      &:last-of-type {
        border-right: none;
      }

      @include grid-media($grid-tablet-plus) {
        padding: 0.6rem;
      }
    }
  }

  thead {
    tr {
      th {
        text-transform: uppercase;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: bold;
        border-right: none;
        background: tint($navy-blue, 7%);
        color: $frost-blue;
      }
    }
  }

  tbody {
    display: none;

    &.is-active {
      display: table-row-group;
    }

    tr {
      background: tint($navy-blue, 12%);
      border-bottom: 0.2rem solid tint($navy-blue, 7%);

      &.data-table__sub-title {
        background: url(img/icon-arrow-down-red.svg) left center no-repeat, tint($navy-blue, 7%);
        background-size: 1rem, auto;
        font-weight: $font-black;
        color: white;
        border-bottom: 0.1rem solid $dark-blue;

        &.is-active {
          background: url(img/icon-arrow-up-red.svg) left center no-repeat, tint($navy-blue, 7%);
          background-size: 1rem, auto;
        }

        > td {
          padding: 0.8rem 0.6rem 0.8rem 1.5rem;
        }
      }
    }
  }
}

table.data-table--sticky-header {
  thead {
    tr {
      th {
        position: sticky;
        top: -2rem; /* Required for the stickiness - allows for box padding */
      }
    }
  }
}

table.data-table--first-col {
  tbody {
    tr:not(.data-table__sub-title) {
      td:first-child {
        background: rgba($dark-blue, 0.4);
        font-weight: $font-black;
      }
    }
  }
}

html.js {
  tbody.content--fixed-age-value-quarters {

    tr {
      display: none;

      &.is-active {
        display: table-row;
      }
    }

    .data-table__sub-title {
      display: table-row;
      cursor: pointer;
    }
  }

}

.data-table__key {
  display: inline-block;
  float:right;
  padding:0.5rem;
  border:0.1rem solid $grey;
  @include font-size(13, 13);

  .is-trend-data {
    font-style: italic;
    color: $grey;
  }

  &:after {
    @include clearfix;
  }

}