.note {
  position: relative;
  @include font-size(13, 20);
  color: $frost-blue;
  padding: 1.5rem 0;
  border-top: 0.1rem solid tint($navy-blue, 35%);

  &:first-of-type {
    padding-top: 0;
    border-top: none;
  }

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom:0;
  }
}

.note__timestamp {
  position: relative;
  @include font-size(14, 20);
  color: white;
  font-weight: $font-black;
  margin-bottom: $base-spacing * 0.5;
  padding-right: 3rem;
}

.has-note-indicator {
  padding-left: 4rem;
  min-height: 4rem;
}

.note-indicator--positive {
  background: url(img/icon-note-indicator-positive.svg) left top 0.5rem no-repeat;
  background-size: 3rem;
}

.note-indicator--neutral {
  background: url(img/icon-note-indicator-neutral.svg) left top 0.5rem no-repeat;
  background-size: 3rem;
}

.note-indicator--negative {
  background: url(img/icon-note-indicator-negative.svg) left top 0.5rem no-repeat;
  background-size: 3rem;
}

.note__title {
  display: block;
}

.note__meta {
  @include font-size(14, 20);
  color: $light-blue;
  margin-bottom: $base-spacing * 0.5;
  font-weight: $font-black;

  a {
    color: $light-blue;

    @include no-touch {
      &:hover,
      &:active,
      &:focus {
        color:$red;
      }
    }
  }
}

.note__meta__ship {
  background: url(img/icon-cargo-ship-outline-light-blue.svg) left center no-repeat;
  background-size: 2rem;
  padding-left: 2.4rem;
}