.powered-by-message {
  color:$frost-blue;
  @include font-size(11, 11);
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width:7rem;
    margin-left:0.5rem;
  }
}