.tab {
  padding: 0 1rem 1rem;

  @include grid-media($grid-tablet-plus) {
    padding: 0 2rem 1rem;
  }
}

.tab__header--sticky {
  position: relative;
  z-index: z('above-all') !important;
}

.tab__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:5.5rem;
  background: $navy-blue;
}

.tab__title {
  @include font-size(16, 18);
  margin: 0;
  flex-grow: 1;

  @include grid-media($grid-tablet-plus) {
    @include font-size(20, 22);
  }
}

.tab__title--icon-ship {
  @include grid-media($grid-tablet-plus) {
    background: url(img/icon-cargo-ship-filled-white.svg) left center no-repeat;
    background-size: auto 1.8rem;
    padding-left: 3.6rem;
  }
}

.tab__title__divider {
  color: $red;
  vertical-align: text-top;
  padding: 0 0.2rem;
}