.tooltipster-base {
}

.tooltipster-sidetip .tooltipster-box {
  background:$frost-blue !important;
  //border:1rem solid $navy-blue !important;
  border:0!important;
  box-shadow: 0 0.1rem 0.5rem rgba(black, 0.7);
  border-radius: $base-border-radius !important;
  margin-left:10px;
  margin-right:10px;
  padding:1rem;
}

.tooltipster-sidetip .tooltipster-box .tooltipster-content {
  color:$soft-black !important;
}

.tooltipster-arrow-border {
  border-bottom-color: transparent !important;
}
.tooltipster-arrow-background {
  border-bottom-color: $frost-blue !important;
}