.box--vessel-finance-calculator {
  display: none;

  &.is-active {
    display: block;
  }
}

.vessel-finance-calculator {
  @include grid-media($grid-tablet-plus) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.vessel-finance-calculator__input-group {
  flex-grow: 1;

  @include grid-media($grid-mobile) {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  @include grid-media($grid-tablet-plus) {
    &:not(:last-of-type) {
      margin-right: 1.5rem;
    }
  }

}

.vessel-finance-calculator__label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"].vessel-finance-calculator__text-input {
  width: 100%;
  @include font-size(16, 16);
  background: rgba(white, 0.7);
  padding: 0.8rem 1rem;
  color:black;
}

input[type="submit"].vessel-finance-calculator__button {
  display: block;
  width: 100%;
  @include font-size(16, 16);
  background: $light-blue;
  color: white;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 999rem;
  transition: all 0.2s;

  @include no-touch {
    &:hover,
    &:active,
    &:focus {
      background:$red;
    }
  }
}